/*-Arsenal Color Code variables. :root selector means global
    --arsenal-red: rgb(239, 1, 7);
    --arsenal-darkred: rgb(219, 0, 7);
    --arsenal-blue: rgb(6, 54, 114);
    --arsenal-gold: rgb(156, 130, 74);
    --arsenal-white: rgb(255, 255, 255);
-*/

/*font used as practice for using @font-face*/
@font-face {
    font-family: 'monospace';
    src: url('assets/fonts/SpaceMono-Bold.ttf') format('truetype'),
    url('assets/fonts/SpaceMono-BoldItalic.ttf') format('truetype'),
    url('assets/fonts/SpaceMono-Italic.ttf') format('truetype'),
    url('assets/fonts/SpaceMono-Regular.ttf') format('truetype');
}

body {
    background-color: rgb(255, 255, 255);
    font-family:'monospace';
    height: 3000px;
}

h2 {
    font-family: 'monospace';
    font-size: 40px;
}

a:hover {
    color: orangered;
    cursor: pointer;
}

.banner {
    background-color: rgb(219, 0, 7);
    border: 5px solid rgb(156, 130, 74);
    min-height: 50px;
    height: 22vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.banner h1 {
    font-family: 'monospace';
    color:rgb(255, 255, 255);
    position: fixed;
    font-size: 4.5vw;
    left: 15vw;
    margin-top: 0;
}

.banner img {
    width: auto;
    height: 25vh;
    padding: 5px 5px;
    position: relative;
}

.primary-nav ul{
    position: fixed;
    height: 15vh;
    width: 80vw;
    top: 12.5vh;
    left: 10vw;
}

.primary-nav li {
    display: inline;
    height: 80%;
    width: 80%;
    vertical-align: top;
}

.primary-nav a {
    text-decoration: none;
    text-align: center;
    padding: 5px 8px;
    background-color: rgb(239, 1, 7);
    font-size: 2.2vh;
    color:rgb(255, 255, 255);
    border-left: 3px solid rgb(156, 130, 74);
    border-right: 3px solid rgb(156, 130, 74);
    border-radius: 2px;
    transition-duration: 0.2s;
}

.primary-nav a:hover {
    background-color:rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    font-size: 2.3vh;
    border-left: 4px solid rgb(156, 130, 74);
    border-right: 4px solid rgb(156, 130, 74);
    border-radius: 2px;
    transition-duration: 0.2s;
}

.primary-nav a:active {
    background-color: rgb(6, 54, 114);
    color: rgb(0, 0, 0);
    font-size: 19px;
    border-left: 4px solid rgb(156, 130, 74);
    border-right: 4px solid rgb(156, 130, 74);
}

.page-header {
    color: rgb(0, 0, 0);
    position: relative;
    text-align: center;
    top: 160px;
    margin: 10px 10px;; 
}

.site-list {
    font-size: 30px;
    position: relative;
    top: 200px;
}