:root {
    --arsenal-red: rgb(239, 1, 7);
    --arsenal-darkred: rgb(219, 0, 7);
    --arsenal-blue: rgb(6, 54, 114);
    --arsenal-gold: rgb(156, 130, 74);
    --arsenal-white: rgb(255, 255, 255);
}

/*font used as practice for using @font-face*/
@font-face {
    font-family: 'monospace';
    src: url('assets/fonts/SpaceMono-Bold.ttf') format('truetype'),
    url('assets/fonts/SpaceMono-BoldItalic.ttf') format('truetype'),
    url('assets/fonts/SpaceMono-Italic.ttf') format('truetype'),
    url('assets/fonts/SpaceMono-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 130px;
}

body {
    background-color: var(--arsenal-white);
    font-family:'monospace';
}

h2 {
    font-family: 'monospace';
    font-size: 40px;
}

h3 {
    font-family: 'monospace';
    font-size: 24px;
}

a:hover {
    color: orangered;
    cursor: pointer;
}

.banner {
    background-color: var(--arsenal-darkred);
    border: 5px solid var(--arsenal-gold);
    height: 100px;
    width: 100%;
    position: fixed;
    display: inline-flex;
    top: 0;
    left: 0;
    z-index: 10;
}

.banner img {
    width: auto;
    height: 120%;
    padding: 5px 5px;
    position: relative;
}

.primary-nav ul {
    margin: 0 10px;
    height: 100%;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

@media only screen and (max-width: 945px) {
    ul.nav-list.active {
        position: fixed;
        margin-right: 0;
        right: 0;
        top: 100px;
        border-left: 2px solid var(--arsenal-gold);
        border-bottom: 2px solid var(--arsenal-gold);
        border-right: 2px solid var(--arsenal-gold);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: auto;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        width: 300px;
        background-color: var(--arsenal-white);
    }
    
    ul.nav-list {
        display: none;
    }

    ul.nav-list li {
        margin: 10px auto;
    }

    ul.nav-list a {
        background-color: var(--arsenal-white);
        color: black;
        border: none;
    }

    body .hamburger {
        display: inline-block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
        border: 1px solid var(--arsenal-white);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
        border: 1px solid var(--arsenal-white);
    }
}

.primary-nav li {
    display: inline;
    margin: 5px;
}

.primary-nav a {
    text-decoration: none;
    text-align: center;
    padding: 5px 8px;
    background-color: var(--arsenal-red);
    font-size: 20px;
    color:var(--arsenal-white);
    border-left: 3px solid var(--arsenal-red);
    border-right: 3px solid var(--arsenal-red);
    border-radius: 2px;
    transition-duration: 0.2s;
}

.primary-nav a:hover {
    background-color:rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-left: 3px solid var(--arsenal-gold);
    border-right: 3px solid var(--arsenal-gold);
    border-radius: 4px;
    transition-duration: 0.2s;
}

.primary-nav a:active {
    background-color: var(--arsenal-blue);
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-left: 3px solid var(--arsenal-gold);
    border-right: 3px solid var(--arsenal-gold);
}

.hamburger-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    height: 100px;
    top: 0;
    width: 50px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 35px;
    height: 7px;
    margin: 6px auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: var(--arsenal-white);
    border: 1px solid var(--arsenal-gold);
    border-radius: 5px;
}

.page-header {
    color: rgb(0, 0, 0);
    position: relative;
    text-align: center;
    margin: 10px 10px;
}

#page-container {
    position: relative;
    width: 99%;
    min-height: 100vh;
}

.site-list {
    font-size: 30px;
    position: relative;
    top: 20px;
}

div.footer {
    display: flex;
    width: 99%;
    justify-content: center;
    position: absolute;
    bottom: 0;
}