/*-Arsenal Color Code variables. :root selector means global
    --arsenal-red: rgb(239, 1, 7);
    --arsenal-darkred: rgb(219, 0, 7);
    --arsenal-blue: rgb(6, 54, 114);
    --arsenal-gold: rgb(156, 130, 74);
    --arsenal-white: rgb(255, 255, 255);
-*/

body {
    background-color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
}

.banner {
    background-color: rgb(219, 0, 7);
    border: 10px solid rgb(156, 130, 74);
    height: 400px;
}

.banner h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    padding: 10px 10px;
    font-size: 100px;
    position: relative;
    left: 350px;
}

.banner img {
    width: 350px;
    height: 350px;
    padding: 10px 10px;
    position: absolute;
    top: 20px;
    left: 10px;
    margin: 10px 10px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

ul {
    font-size: 40px;
}