:root {
    --arsenal-red: rgb(239, 1, 7);
    --arsenal-darkred: rgb(219, 0, 7);
    --arsenal-blue: rgb(6, 54, 114);
    --arsenal-gold: rgb(156, 130, 74);
    --arsenal-white: rgb(255, 255, 255);
}

@font-face {
    font-family: 'monospace';
    src: url('../assets/fonts/SpaceMono-Bold.ttf') format('truetype'),
    url('../assets/fonts/SpaceMono-BoldItalic.ttf') format('truetype'),
    url('../assets/fonts/SpaceMono-Italic.ttf') format('truetype'),
    url('../assets/fonts/SpaceMono-Regular.ttf') format('truetype');
}

div.grid {
    position: relative;
    align-items: center;
    justify-items: center;
    top: 20px;
    display: grid;
    padding: 15px;
    grid-template-columns: max-content 511px;
    grid-template-rows: 500px;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 15px;
    z-index: 1;
}

div.form {
    height: 500px;
    width: fit-content;
    display: flex;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    text-align: center;
    justify-content: center;
    z-index: 2;
    padding-left: 10px;
    padding-right: 10px;
}

hr.section-header {
    width: 99.5%;
}

hr {
    width: 30%;
    margin: 0 auto;
}

div.form > form > h3 {
    margin: 10px auto;
    padding: 5px 10px;
}

label {
    font-size: 18px;
}

label.level-label {
    font-size: 16px;
    color: var(--arsenal-blue);
}

span {
    font-size: 18px;
}

select {
    font-size: 16px;
    border-radius: 5px;
    height: 24px;
    width: fit-content;
    text-align: center;
    margin-bottom: 20px;
}

input[type='submit'] {
    font-weight: 600;
    padding: 5px 8px;
    background-color: var(--arsenal-red);
    font-size: 20px;
    color:var(--arsenal-white);
    border-left: 3px solid var(--arsenal-red);
    border-right: 3px solid var(--arsenal-red);
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
    transition-duration: 0.2s;
}

input[type='submit']:hover {
    background-color:rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-left: 3px solid var(--arsenal-gold);
    border-right: 3px solid var(--arsenal-gold);
    transition-duration: 0.2s;
}

input[type='submit']:active {
    background-color: var(--arsenal-blue);
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-left: 3px solid var(--arsenal-gold);
    border-right: 3px solid var(--arsenal-gold);
    transition-duration: 0.2s;
}

div.field {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #026635;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
}

div.field > img {
    position: relative;
    margin: auto 0;
    border: none;
}

div.positions {
    background-image: url(../assets/images/soccer-field.jpg);
    position: relative;
    margin: auto 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    height: 341px;
    width: 507px;
    z-index: 10;
}

div.positions > div {
    background-color: none;
    width: 100%;
    height: 100%;
    display: flex;
}

.forward {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-6 {
    grid-column: span 6;
}

div.inner-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: lightgrey;
}

div.outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: none;
    border: 2px solid var(--arsenal-gold);
}

.midfield {
    display: flex;
    justify-content: center;
    align-items: center;
}

.defense {
    display: flex;
    justify-content: center;
    align-items: center;
}

.defense-bottom {
    bottom: -30px;
}

.gk {
    display: flex;
    justify-content: center;
    align-items: center;
}

#st {
    top: -10px;
}

#lcm {
    right: -30px;
    bottom: -10px;
}

#rcm {
    left: -30px;
    bottom: -10px;
}